# Random Forest

In [23]:
import numpy as np
import pandas as pd
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

df=pd.read_csv("DecisionTreesClassificationDataSet.csv")

In [24]:
duzetme_mapping={'Y':1,'N':0}
df['IseAlindi']=df['IseAlindi'].map(duzetme_mapping)
df['SuanCalisiyor?']=df['SuanCalisiyor?'].map(duzetme_mapping)
df['Top10 Universite?']=df['Top10 Universite?'].map(duzetme_mapping)
df['StajBizdeYaptimi?']=df['StajBizdeYaptimi?'].map(duzetme_mapping)

duzetme_mapping_egitim={'BS':0,'MS':1,'PhD':2}
df['Egitim Seviyesi']=df['Egitim Seviyesi'].map(duzetme_mapping_egitim)
df.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,1,4,0,0,0,1
1,0,0,0,2,1,1,1
2,5,1,2,1,0,1,1
3,3,0,1,0,0,1,1
4,0,0,0,0,0,0,0

Random Forest Oluşturuyoruz

In [25]:
y=df['IseAlindi']
x=df.drop(['IseAlindi'],axis=1)

In [26]:
x.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?
0,11,1,4,0,0,0
1,0,0,0,2,1,1
2,5,1,2,1,0,1
3,3,0,1,0,0,1
4,0,0,0,0,0,0

In [27]:
#Burada bağımlı değişkenimizi ayırıyoruz
y=df.IseAlindi.values
x_ham_veri=df.drop(["IseAlindi"],axis=1)
#Bağımsız değişkenlerimizi normalize ediyoruz
sc=MinMaxScaler()
x_ham_veri=sc.fit_transform(x_ham_veri)
#test train yapıyororuz
x_train, x_test, y_train, y_test = train_test_split(x_ham_veri,y,test_size=0.1,random_state=1)

In [28]:
rnd=RandomForestClassifier(n_estimators=200,random_state=10) #n_estimators ağaç sayısı
rnd.fit(x_train,y_train)
prediction=rnd.predict(x_test)
print(rnd.predict([[5,1,3,0,0,0]]))

[1]

In [29]:
print(rnd.predict([[2,0,7,0,1,0]]))

[0]

In [30]:
import pickle

In [32]:
model_dosyasi = "randomforest.pickle"
pickle.dump(rnd,open(model_dosyasi,'wb'))
scaler_dosyasi="scRandom.pickle"
pickle.dump(sc,open(scaler_dosyasi,'wb'))
#burada model ve scaler ı serialize ettik.